<html>

    <body>
        <h1>Peliculas recomendadas</h1>        

        <ul>
            <% for (let i = 0; i < peliculas_recomendadas.length; i ++){ %>
                
                <a href="/movies/detail/<%= peliculas_recomendadas[i].id %>">
                    <p><%= peliculas_recomendadas[i].title %></p>
                </a>

            <% } %>
        </ul>

    </body>

</html>