<html>

    <body>
        <h1>Ultimas 5 películas en ser estrenadas</h1>        

        <ul>
            <% for (let i = 0; i < peliculas_nuevas.length; i ++){ %>
                
                <p><%= peliculas_nuevas[i].title %></p>
                
            <% } %>
        </ul>

    </body>

</html>