* {
	box-sizing: border-box;
}

body {
	background: #1D1D1F;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contenedor h1{
    margin: 50px 0;
    font-size: large;
}

p{
	background: #1D1D1F;
	text-align: center;
}

.contenedor {
	max-width: 800px;
	
}

.contenedor a{
    text-decoration: none;
    margin-top: 20px;
}

