*{
  width: 100%;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.contenedor-movie{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: whitesmoke;
  background: #1D1D1F;
}

.contenedor-movie .cont-actuacion div{
  margin-top: 20px;
}

.contenedor-movie h2{
  margin-left: 90px;
  margin-top: 40px;
}

.contenedor-movie form{
  width: 30%;
  text-align: center;
}

.contenedor-movie form div{
  margin-top: 25px;
}

.contenedor-movie form div input,select{
  background-color: whitesmoke;
  border-style: none;
  border: orangered;
  border-radius: 7px;
  padding-left: 10px;
}

.contenedor-movie form button{
  margin-top: 30px;
  width: 30%;
  height: 35px;
  color: white;
  font-variant: small-caps;
  background-color:crimson;
  border-style: none;
  border-radius: 15px;
 
}