.contenedor-movie{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    height: 850px;
    width: 700px;
    margin: 5% auto;  
    padding: 30px 30px;
    border-radius: 10px;
    background-color: rgba(94, 94, 94,0.5);
}

.contenedor-movie .datos{
    background-color: rgba(94, 94, 94,0);
    margin-top: 10px;
}

.contenedor-movie .datos ul{
    list-style-type: none;
    background-color: rgba(94, 94, 94,0);
}

.contenedor-movie .datos p, li{
    color: white;
    margin: 30px;
    background-color: rgba(94, 94, 94,0);
}

.contenedor-movie .datos {
    color: white;
    text-align: center;
    background-color: rgba(94, 94, 94,0);
}

.contenedor-movie img{
    width:600px;
    height: 250px;
}

.contenedor-movie .botones{
    display: flex;
    width: 300px;
    justify-content: center;
    background-blend-mode: unset;
    background-color: rgba(255, 255, 255,0);
    
}

.contenedor-movie .botones a{
    width: 80px;
    height: 60px;
    margin: 10px;
    border-radius: 10px;
    border-style: none;
    text-align: center;
     
}

.contenedor-movie .botones a i{
    border-style: none;
    background-color: rgba(255, 255, 255,0);
    width: auto;
    font-size: large;
}

.contenedor-movie .botones .edit{
    background-color: gold;
}

.contenedor-movie .botones .delete{
    background-color: crimson;
}