<!DOCTYPE html>
<html>
    <%- include('./partials/head') %>
  <body>

    <div class="contenedor">
      <%- include('./partials/header') %>

      <h1>Bienvenido a MaleFlix</h1>
      <button class="boton-main"><a href="/movies">Comenzar</a></button>
      </div>
  </body>
  <%- include('./partials/footer') %>
</html>
