<header>
    <div class="contenedor-navbar">
        <a href="/movies/"><h2>MALEFLIX</h2></a>
        <nav>

            <div class="contenedor-actormovies">
                <div class="nav-movies">
                    <a href="/movies/">Todos los titulos</a>
                    <a href="/movies/new/">Estrenos</a>
                    <a href="/movies/recommended/">Recomendadas</a>
                    <a href="/movies/create/">Crear película</a>
                </div>
                <div class="nav-actors">
                    <a href="/actors/">Todos los actores</a>
                    <a href="/actors/recommended/">Mejores actores</a>
                    <a href="/actors/create/">Crear actor</a>
                    <a href="/actuacion/">Registrar actuación</a>
                </div>
                
            </div>            
            
            <form action="/movies/search" method="post">
            
                <label for="check-actor" id="label-check"><i class="far fa-user"></i></label>
                <input type="radio" name="filtro" value="actor" id="check-actor">
                <label for="check-movie" id="label-check"><i class="fas fa-film"></i></label>
                <input type="radio" name="filtro" value="movie"  id="check-movie" checked>
                <input type="text" name="search"  placeholder="Buscar un título">
                <button type="submit"><i class="fas fa-search"></i></button>
                
            </form>

        </nav>
    </div>
</header>